[submodule "fitbit-heart-rate-mqtt"]
	path = fitbit-heart-rate-mqtt
	url = https://github.com/manuandru/fitbit-heart-rate-mqtt
[submodule "Emotion-detection"]
	path = Emotion-detection
	url = https://github.com/manuandru/Emotion-detection
